<nav>
  <ul>
    <div id="nav_left">
      <a href="#">
        <li id="logo_name">Brook DriveTest</li>
      </a>
    </div>
    <div id="nav_right">
      <a href="/">
        <li>dashboard</li>
      </a>
      <a href="/login">
        <li>Login</li>
      </a>
      <a href="/g2_page">
        <li>G2_page</li>
      </a>
      <a href="/g_page">
        <li>G_page</li>
      </a>
    </div>
  </ul>
</nav>
