<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') -%>
  <body>
    <%- include('layouts/navigation.ejs') -%>
    <main>
      <h1 class="dashboard_heading">Dashboard</h1>
      <h1 class="dashboard_subheading">DriveTest Booking Kiosk</h1>
       
    </main>
  </body>
</html>
