<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') -%>
  <body>
    <%- include('layouts/navigation.ejs') -%>

    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 login-form-1">
          <!-- <h3> License Number</h3> -->

          <form action="/g_page/receive_data">
            <h1>No User Found</h1>
          </form>
          <form action="/g_page" method="get">
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Back" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
