* {
  margin: 10px auto;
}
body {
  background-color: rgb(30, 29, 29);
  color: white;
}
#logo_name {
  font-size: 30px;

  display: inline-block;
}
ul {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30%;
}
ul a {
    color: rgb(255, 255, 255);
}
#navigation_bar {
   
  color: white;

  text-decoration: none;
}
#nav_right {
  display: flex;
  gap: 20%;
}

.dashboard_heading{

    margin-top: 7%;
    margin-left: 40%;
    font-size: 60px;

}
#head{
  text-align: center;
   
  text-decoration-line: underline;
 
}

.dashboard_subheading{

    margin-top: 1%;
    margin-left: 43%;
font-size: large;
}

a {
  font-size: larger;
  color: aliceblue;
  text-decoration: none;
  
}
 
.btn-primary{
    width: 100%;
}
.login-container{
    margin-top: 7%;
    width: 100%;
}
 .col-form-label{
  /* display: block; */
  width: 100%;
 }
 #head_book{
  text-align: center;
  /* margin-left: 100px; */
  text-decoration: wavy underline;
 }
  